* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html,
body {
  font-family: "Comic Neue", cursive;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
}

.input-stuff {
  font-weight: bold;
}

input {
  height: 1.875rem;
  width: 100%;
  border-radius: 0;
  border-right-style: hidden;
  border-left-style: hidden;
  border-width: 0.1875rem;
  border-color: #000000;
}

.today {
  margin: 0.625rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
}

.feel {
  margin: 0.625rem 0;
}

.zip-code {
  margin: 0.625rem 0;
  font-weight: bold;
}

.current {
  margin-left: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "current current"
    "HL CT";
}

.junk {
  margin-bottom: 1.25rem;
  grid-area: current;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.junk-past {
  margin-bottom: 1.25rem;
  grid-area: current;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-conditions {
  margin-left: 1.875rem;
  height: 6.625rem;
  width: 5.375rem;
  /* grid-area: current; */
}

.date {
  margin-left: 1.875rem;
}

.date-past {
  margin-left: 1.875rem;
}
.HL {
  grid-area: HL;
}

.high-temp-main {
  margin-top: 1.5625rem;
}

.temp {
  margin-top: 0.3125rem;
  font-size: 4rem;
  grid-area: CT;
}

.submit {
  margin: 1.25rem 0;
  width: 4.6875rem;
  background: #ffffff;
  border-width: 3px;
  border-radius: 10px;
  border-color: #000000;
  font-weight: bold;
  color: #000000;
}

.weather-icon {
  width: 3.49rem;
  height: 3rem;
}
.bar {
  height: 3px;
  width: 100%;
  background: #000000;
}

#upper {
  margin-top: -5rem;
}

.day {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.yesterday {
  margin: 1.25rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
}

.felt {
  margin: 0.625rem 0;
}

.res-holder {
  height: 1.875rem;
  width: 100%;
  border: 0.1875rem solid black;
  border-radius: 0;
  border-right-style: hidden;
  border-left-style: hidden;
  display: flex;
  align-items: center;
}

.response {
  inline-size: 11.25rem;
  overflow-wrap: break-word;
  font-weight: bold;
}

.yesturday-conditions {
  margin-left: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "current current"
    "HL PT";
}

.past-condition {
  margin-left: 1.875rem;
  height: 6.625rem;
  width: 5.375rem;
}

.past-temp {
  font-size: 4rem;
  grid-area: PT;
}

.PHL {
  grid-area: HL;
  width: 2.5rem;
  height: 3.125rem;
}

@media (min-width: 64rem) {
  .bar {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.75fr 1fr;
    grid-template-areas:
      "today 5-day"
      "today yest";
  }
  .today {
    grid-area: today;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "conditions"
      "feel";
  }

  .feel {
    width: 22.5625rem;
    font-size: 4rem;
    font-weight: bold;
  }

  .input-stuff {
    width: 22.5625rem;
  }

  .current {
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "conditions temp"
      "conditions HL";
  }
  .current-conditions {
    width: 15.625rem;
    height: 20.4375rem;
    margin: 0;
    stroke-width: 2px;
  }

  .date {
    margin: 0.9375rem 0 0 0;
  }

  .junk {
    grid-area: conditions;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .temp {
    grid-area: temp;
    font-size: 8rem;
    margin: 3.75rem 0 0 1.875rem;
    padding: 0 2.5rem;
  }

  .HL {
    grid-area: HL;
    display: flex;
    flex-direction: row;
    margin-left: 1.875rem;
  }

  .user-input {
    grid-area: feel;
    display: flex;
    flex-direction: column;
  }

  .current {
    grid-area: conditions;
  }

  .high-temp-main {
    width: 115px;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .low-temp-main {
    width: 7.1875rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .yesterday {
    margin: 1.25rem 0;
    grid-area: yest;
  }

  .yesturday-conditions {
    display: flex;
    flex-direction: column;
  }

  .user-response {
    width: 31.25rem;
    margin-top: 0.375rem;
  }

  .felt {
    margin: -0.625rem 0 0.625rem 0;
    /* width: 510px; */
    font-size: 4rem;
    font-weight: bold;
  }

  .five-day {
    margin-top: 3.75rem;
    grid-area: 5-day;
  }

  .res-holder {
    width: 22.5625rem;
  }

  .response {
    all: revert;
  }

  .junk-past {
    all: revert;
    margin-left: -6.25rem;
  }

  .past-temp {
    margin-left: -3.75rem;
  }
}

@media (min-width: 80rem) {
  .today {
    margin-top: 3.75rem;
  }

  .feel {
    margin-top: 2.5rem;
  }

  .yesterday {
    margin-top: 6.25rem;
  }

  .junk-past {
    all: revert;
  }

  .past-temp {
    margin-left: 2.25rem;
  }

  .felt {
    margin: -0.625rem 0 0.625rem 0;
    width: 31.875rem;
    font-size: 4rem;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
  }
}
